.recipes-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
}

.recipe-item {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.recipe-origin {
	font-style: italic;
	font-size: small;
}

.active-page {
    font-weight: bold;
    font-size: 1.1em;
}

.pagination-buttons button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-buttons button:hover {
    background-color: #ececec;
}
