.drink-view-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.collection-buttons {
	display: flex;
	justify-content: center;
	border-radius: 50px;
}

.collection-buttons button {
	padding: 10px 20px;
	margin: 0 10px;
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.collection-buttons button.active {
	font-weight: bold;
	transform: scale(1.1);
	background-color: #79eb7d;
}

.recipe-list {
	flex-grow: 1;
	overflow-y: auto;
	width: 100%;
	padding: 20px 0;
}

.recipe-list::-webkit-scrollbar,
.recipe-list::-webkit-scrollbar-thumb,
.recipe-list::-webkit-scrollbar-track {
	display: none;
}

.recipe-card2 {
	opacity: 0.7;
	width: 80%;
	margin: 10px auto;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s;
	cursor: pointer;
}

.recipe-card2.focused {
	transform: scale(1.05);
	z-index: 2;
}
.recipe-card2:not(.focused) {
	transform: translateY(0) scale(0.9);
	opacity: 0.7;
	z-index: 1;
}
.recipe-card2:hover {
	transform: scale(1.05);
}
.inventory-display {
	justify-content: flex-start;
}

.back-to-workshop-button {
	position:absolute;
	top: 21%; 
	right: 2%;
	padding: 10px 20px;
	font-size: 1em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1;
}

.back-to-workshop-button:hover {
	opacity: 0.8;
}
