.inventory-display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.inventory-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 0 1 calc(33.333% - 10px);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inventory-item:hover {
  background-color: #ececec;
}

.recipe-recommendations {
    margin-top: 30px;
}

.recommended-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.recipe-item {
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

.recipe-item h4 {
    margin-top: 0;
}


.fetched-recipes {
    margin-top: 20px;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.recipes-list .recipe-item {
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

.recipes-list .recipe-item h4 {
    margin-top: 0;
}

