.social-page-container {
	display: flex;
	justify-content: space-around;
	padding: 20px;
	position: relative;
}

.users-section,
.friend-requests-section,
.friends-list,
.messaging-interface {
	width: 30%;
}

/* .Position-list {
	display: flex;
	position: absolute;
	top: 25%;
	width: 10%;
	background-color: blue;
} */

.friends-container .li {
	display: flex;
	width: 20vw;
}

.friend-item {
	display:flex;
	width: 100%;
}

.users-section h1,
.friend-requests-section button,
.friends-list h2,
.messaging-interface h2 {
	margin-bottom: 10px;
}


.users-list {
	overflow-y:scroll;
	list-style: none;
	padding: 0;
}

.user-item,
.friend-item {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
	background-color: #fff;
	padding: 10px;
	/* border-radius: 5px; */
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
	transition: background-color 0.3s;
}

.bold {
	font-weight: bold;
}

.user-item:hover,
.friend-item:hover {
	background-color: #f0f0f0;
}

.user-item .username,
.friend-username {
	margin-right: 10px;
}

.user-profile-picture,
.friend-profile-picture {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}

.friend-requests-dropdown {
	display: flex;
	position: absolute;
	top: 10%;
	right: 8%;
	width:15vw;
	background-color: #fff;
	border-color: #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}

.accept-button {
	display: flex;
	position: absolute;
	right: 41%;
}

.friend-requests-dropdown ul {
	list-style-type: none;
	padding: 0;
}

.friend-requests-dropdown li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-bottom: 5px; */
	margin-bottom: 15px;
	padding: 10px; 
}

.friend-requests-dropdown button {
	background-color: #4caf50;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
}

.friend-requests-dropdown button:hover {
	background-color: #45a049;
}

.messages-display {
	max-height: 200px;
	overflow-y: auto;
	/* border: 1px solid #ccc; */
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.friend-requests-section button {
	display: flex;
	position:absolute;
	right: 15%;
	margin: 10px;
	border-style:solid;
	border-color: transparent;
	border-radius: 10px;
}

.friends-container {
	display: flex;
	background-color: #f5f5f5;
	border-style:solid;
	box-shadow: 5x 5px 5px black;
	height: 50vh;
	width: 25vw;
	overflow-y:scroll;
}

.messaging-interface input {
	width: 70%;
	padding: 8px;
	margin-right: 5px;
}

.messaging-interface button {
	width: 25%;
	background-color: #3498db;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.messaging-interface button:hover {
	background-color: #2980b9;
}
